<!DOCTYPE html>
<html>
<head>
    <title>Web SSH</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@5.3.0/css/xterm.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        /* 添加一个小的 header */
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }
        .header a {
            color: #007BFF;
            text-decoration: none;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>My Web SSH</h1>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>

    <div id="terminal"></div>

    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.7.2/dist/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm@5.3.0/lib/xterm.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit@0.8.0/lib/xterm-addon-fit.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>